$bgcBlack:#15171E;
$bgcBlack1:#23252B;
$colorBlue:#148EFF;
$colorWhite:#FFFFFF;
$colorGrey:#6b6b6b;
$colorYellow:#FFB400;
$colorvaiolent:#CB31E0;
$coloryellow1:#F9D74C;
$colorblue1:#2D9BDD;
$colorgreen1:#295858;
$colorlime:#C0E74D;
$colormyBlue:#0102B7;
$colormyRed:#FF3D0D;
$colorred:#F0192C;
$breakPoint:(
    "xl":1200px,
    "lg":942px,
    "md":768px,
    "sm":580px,
    "mediaType":screen,
);